body {
    padding: 0;
    margin: 0;
}
header {
    margin: 50px;
    padding: 50px;
    text-align: center;
    font-size: 72px;
    color: #FCD801;
    background-color: #281B2D;
    border-bottom: 20px solid #00C54C;
}
h2 {
    margin: 50px;
    padding: 50px;
    font-size: 48px;
    color: #FCD801;
    background-color: #281B2D;
    border-bottom: 20px solid #00C54C;
}

.container {
    width: 1000px;
    align-self: center;
}

.leftcolumn {
    float: left;
    clear: both;
    width: 70%;
  }

  .rightcolumn {
    float: right;
    clear: both;
    width: 25%;
    margin: 5px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin: 5px;
  }
  
